
* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 50px;
    background: #ffc017;
    display: flex;
    justify-content: center;
}

p {
    font-size: 100px;
}

.head-wrapper {
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: auto; */
}

.logo {
   width: 120px;
   height: 120px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.nav-box nav ul {
    display: flex;
    align-items: center;
}

.nav-box nav ul li {
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    cursor: pointer;
}

.nav-box button {
    background: black;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 50px;
    font-weight: 600;
}

.nav-box button span {
    font-size: 10px;
}

.big-block {
    width: 100%;
    height: 500px;
    background-color: yellow;
    display: flex;
}

.first-box {
    height: 500px;
    background: green;
    width: 50%;
}

.middle-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.middle-div {
    width: 50%;
    height: 250px;
    background-color: brown;
}


.sec-box {
    height: 500px;
    background: blue;
    width: 50%;
}

.middle-div2 {
    width: 50%;
    height: 250px;
    background-color: white;
}

.bottom-div {
    width: 100%;
    height: 100px;
    background: red;
    display: flex;
}

.bottom-div2 {
    width: 100%;
    height: 100px;
    background: purple;
    display: flex;
}
.bottom-first {
    background: dodgerblue;
    height: 100px;
    width: 20%;
}

.bottom-second {
    background: gray;
    height: 100px;
    width: 80%;
}

.bottom2-first {
    background: rgb(30, 255, 214);
    height: 100px;
    width: 80%;
}

.bottom2-second {
    background: rgb(53, 10, 10);
    height: 100px;
    width: 20%;
}